/* Navbar.css */
.navbar {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar ul li {
    margin: 0;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    display: block;
  }
  
  .toggle-btn {
    display: none;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar ul {
      /* display: ${props => (props.isOpen ? 'block' : 'none')}; */
    }
  
    .toggle-btn {
      display: block;
      background-color: #333;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      font-size: 16px;
    }
  }
